<databaseChangeLog
    xmlns="http://www.liquibase.org/xml/ns/dbchangelog"
    xmlns:ext="http://www.liquibase.org/xml/ns/dbchangelog-ext"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.liquibase.org/xml/ns/dbchangelog-ext
   http://www.liquibase.org/xml/ns/dbchangelog/dbchangelog-ext.xsd
   http://www.liquibase.org/xml/ns/dbchangelog
   http://www.liquibase.org/xml/ns/dbchangelog/dbchangelog-3.4.xsd">

    <changeSet id="202310041002" author="Aurthur Musendame">
        <createTable tableName="lims_ehr_mapper">
            <column name="id" type="VARCHAR(60)">
                <constraints primaryKey="true" />
            </column>
            <column name="ehr_sample_type_id" type="varchar(50)">
                <constraints nullable="false" />
            </column>
            <column name="ehr_test_id" type="varchar(50)">
                <constraints nullable="false" />
            </column>
            <column name="lims_sample_type_id" type="varchar(50)">
                <constraints nullable="false" />
            </column>
            <column name="lims_test_id" type="varchar(50)">
                <constraints nullable="false" />
            </column>
            <column name="laboratory_id" type="varchar(50)">
                <constraints nullable="true" />
            </column>
            <column name="created_by" type="varchar(50)">
                <constraints nullable="false" />
            </column>
            <column name="created_date" type="timestamp" />
            <column name="last_modified_by" type="varchar(50)" />
            <column name="last_modified_date" type="timestamp" />
        </createTable>
        <loadData file="config/liquibase/data/lims_ehr_mapper.csv"
                  separator=";" tableName="lims_ehr_mapper">
        </loadData>
    </changeSet>
</databaseChangeLog>
